.Menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 55px;
    margin-top: 30px;
}

.Menu li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Карточка лучшего авто номер 1 */
.best-car {
    margin-top: 40px;    
    margin-left: 70px;
}

.card {
    width: 320px;
    border: 2px solid #333;   /* рамка */
    border-radius: 12px;      /* скруглённые углы */
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1); /* тень для красоты */
}

.card img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
}

.card h2 {
    margin: 10px 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.card p {
    font-size: 20px;
    color: #555;
}

/* Карточка авто номер 2 */
.best-car2 {
    margin-top: 40px;    
}

.card2 {
    width: 320px;
    border: 2px solid #333;   /* рамка */
    border-radius: 12px;      /* скруглённые углы */
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1); /* тень для красоты */
}

.card2 img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
}

.card2 h2 {
    margin: 10px 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.card2 p {
    font-size: 20px;
    color: #555;
}

/* Правая колонка */
.rightMenu {
    padding: 20px;
    padding-left: 10px;
}

.rightMenu ul {
    list-style: none;
}

.rightMenu li {
    margin-bottom: 15px;
}

.rightMenu li a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.content-wrapper {
    display: flex;      /* включаем flex-контейнер */
    gap: 30px;
    margin: 40px;
}